

@media print {

@page 
        {

size: letter;
margin:0px;


        }
@page :first { 
	margin-top: 3em; 
	margin-left: 3em; 
	margin-right: 4em; 
	margin-bottom: 3em;
} 
        body 
        {
            background-color:#FFFFFF; 
       }

       p{
       	font-family: "Times New Roman", Times, serif;
       	font-size: 1.2em;
       	line-height:1.5em;
       }

.grande{
  font-size: 20pt;
}




}